header {
  background: url("../img/hero.jpg") no-repeat;
  background-size: cover;
  flex-direction: column;
  height: 450px;
  justify-content: center;
}
h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 0;
}
i {
  vertical-align: bottom;
}
main {
  vertical-align: bottom;
}
.brand-logo, .button-collapse {
  margin-left: 10px;
}
h6 {
  font-size: 1.45rem;
}
.input_form {
  padding: 0 25px;
}
